# fly.toml app configuration file generated for tailwings-sjwc on 2025-04-04T13:42:42-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tailwings-sjwc'
primary_region = 'iad'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[build]

[env]
  PORT = "41641"

[[services]]
  protocol = 'udp'
  internal_port = 41641
  processes = ['app']

  [[services.ports]]
    port = 41641

  [services.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 75

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
